@import "tailwindcss";

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .glass-panel {
    @apply bg-[#0f172a99] backdrop-blur-[10px] border border-[#4755694d] rounded-xl;
  }
}

body {
  background-color: #020617;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #e2e8f0;
}

